<div class="footer">
	<div class="iconfoot">
		<a href="/youtube">
			<i class="fa-brands fa-youtube"></i>
		</a>
		<a href="/instagram">
			<i class="fa-brands fa-instagram"></i>
		</a>
		<a href="/discord">
			<i class="fab fa-discord"></i>
		</a>
		<a href="/github">
			<i class="fab fa-github"></i>
		</a>
		<a href="/verdantns">
			<i class="fa-solid fa-server"></i>
		</a>
	</div>
	<p>Copyright <i class="fa-regular fa-copyright"></i> 2022 </p>
	<p>Made by DrelezTM with <i style="color: red;" class="fa-solid fa-heart"></i> </p>
</div>
