<div class="body">
	<div class="landing">
		<img src="/img/body/landing.png" alt="Landing">
		<div class="card" style="background-color: #222423; border-radius: 10px; text-align: left;">
			<div class="card-body">
				<h5 class="card-title">
					<b>Personal data</b>
				</h5>
				<p class="card-text">Hi!, My name is <b>Yazid Yusuf</b>
				</p>
				<p class="card-text">Welcome to my website. Im Full Stack Developer from <b>Bekasi</b>, <b>Jawa Barat</b>, <b>Indonesia</b>
				</p>
			</div>
		</div>
	</div>
	<div class="judul">
		<h4>
			<b>Skill's</b>
		</h4>
		<div class="garis"></div>
	</div>
	<div class="card" style="background-color: #222423; border-radius: 10px; padding: 15px;">
	<% skill.forEach(function(skills) { %>
		<div class="pbox">
			<p class="ptitle"><%= skills.language %> :</p>
			<div class="pborder">
				<p class="ptext"><%= skills.percentage %></p>
				<div class="pbody" style="width: <%= skills.percentage %>;">.</div>
			</div>
		</div>
	<% }); %>
	</div>
	<div class="judul">
		<h4>
			<b>Certificate's</b>
		</h4>
		<div class="garis"></div>
	</div>
	<div class="card-group">
		<div class="card" style="background-color: #222423; border-radius: 10px;">
			<img class="card-img-top" src="/img/certificate/html.jpg" alt="HTML" style="border-radius: 10px 10px 0 0">
			<div class="card-body">
				<h5 class="card-title">HTML</h5>
				<p class="card-text">
					<small class="text-muted">24 May, 2021</small>
				</p>
			</div>
		</div>
		<div class="card" style="background-color: #222423; border-radius: 10px;">
			<img class="card-img-top" src="/img/certificate/css.jpg" alt="CSS" style="border-radius: 10px 10px 0 0">
			<div class="card-body">
				<h5 class="card-title">CSS</h5>
				<p class="card-text">
					<small class="text-muted">14 February, 2022</small>
				</p>
			</div>
		</div>
		<div class="card" style="background-color: #222423; border-radius: 10px;">
			<img class="card-img-top" src="/img/certificate/php.jpg" alt="PHP" style="border-radius: 10px 10px 0 0">
			<div class="card-body">
				<h5 class="card-title">PHP</h5>
				<p class="card-text">
					<small class="text-muted">25 May, 2021</small>
				</p>
			</div>
		</div>
	</div>
	<div class="card-group">
		<div class="card" style="background-color: #222423; border-radius: 10px;">
			<img class="card-img-top" src="/img/certificate/javascript.jpg" alt="JavaScript" style="border-radius: 10px 10px 0 0">
			<div class="card-body">
				<h5 class="card-title">JavaScript</h5>
				<p class="card-text">
					<small class="text-muted">24 May, 2021</small>
				</p>
			</div>
		</div>
		<div class="card" style="background-color: #222423; border-radius: 10px;">
			<img class="card-img-top" src="/img/certificate/python.jpg" alt="Python" style="border-radius: 10px 10px 0 0">
			<div class="card-body">
				<h5 class="card-title">Python</h5>
				<p class="card-text">
					<small class="text-muted">20 February, 2022</small>
				</p>
			</div>
		</div>
	</div>
	<div class="judul">
		<h4>
			<b>Secreto</b>
		</h4>
		<div class="garis"></div>
	</div>
	<div class="card" style="background-color: #222423; border-radius: 10px;">
		<div class="card-body">
			<form method="GET" id="form">
				<label class="toplabel" for="name">Name :</label>
				<input name="name" id="name" type="text" placeholder="DrelezTM" required>
				<label for="gender">Gender :</label>
				<select id="genderlist" name="gender">
					<option value="male" name="male">Male</option>
					<option value="female" name="female">Female</option>
				</select>
				<label for="message">Message :</label>
				<textarea name="message" id="message" type="text" placeholder="Hi, i've crush on you" required></textarea>
				<input class="button btn btn-primary" type="submit" value="Submit" />
			</form>
		</div>
	</div>
</div>
