<div class="header">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222423">
		<a class="navbar-brand" href="/"><strong> DrelezTM </strong></a>
		<button class="navbar-toggler btn-outline" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-share-nodes"></i>Socials </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: #222423;">
						<a style="color: #929292;" class="dropdown-item" href="/youtube"><i class="fa-brands fa-youtube"></i>YouTube </a>
						<a style="color: #929292;" class="dropdown-item" href="/instagram"><i class="fa-brands fa-instagram"></i>Instagram </a>
						<a style="color: #929292;" class="dropdown-item" href="/discord"><i class="fab fa-discord"></i>Discord </a>
						<a style="color: #929292;" class="dropdown-item" href="/github"><i class="fa-brands fa-github"></i>Github </a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/comments"><i class="fa-solid fa-comment-dots"></i>Comments </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/verdantns"><i class="fa-solid fa-server"></i>VerdantNS </a>
				</li>
			</ul>
		</div>
	</nav>
</div>
