<div class="body">
	<div class="judul" style="margin-top: 20px;">
		<h4>
			<b>Secreto</b>
		</h4>
		<div class="garis"></div>
	</div>
	<div class="card" style="background-color: #222423; border-radius: 10px;">
		<div class="card-body">
			<form method="GET" id="form">
				<label class="toplabel" for="name">Name :</label>
				<input name="name" id="name" type="text" placeholder="DrelezTM" required>
				<label for="gender">Gender :</label>
				<select id="genderlist" name="gender">
					<option value="male" name="male">Male</option>
					<option value="female" name="female">Female</option>
				</select>
				<label for="message">Message :</label>
				<textarea name="message" id="message" type="text" placeholder="Hi, i've crush on you" required></textarea>
				<input class="button btn btn-primary" type="submit" value="Submit" />
			</form>
		</div>
	</div>
	<% msg.forEach(function(msgs) { %>
		<div class="card" style="background-color: #222423; border-radius: 10px;">
			<div class="card-body">
				<div class="information-msg">
					<img class="profile" src="/img/body/<%= msgs.gender %>.png">
					<p class="name-msg"><%= msgs.name %> </p>
				</div>
				<p class="msg"><%= msgs.msg %> </p>
			</div>
		</div>
	<% }); %> 
</div>
